<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sliitassisme.test2">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <permission android:name="sliitassisme.maptest.permission.MAP_RECIVE" android:protectionLevel="signature"/>
    <uses-permission android:name="sliitassisme.maptest.permission.MAP_RECIVE"/>
    <uses-permission android:name="com.google.andoid.providers.gsf.permission.READ_GSERVICES"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>



    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".GPS.GpsActivity"/>
        <activity android:name=".FirstTime.FirstTimeDevicesActivity" />


        <activity android:name=".FirstTime.FirstTimeenterDailyScedule"></activity>

        <activity android:name=".Dashboard.DashboardActivity"
            android:parentActivityName=".devices.DevicesActivity"/>

        <service android:name=".BluetoothLEService" />



        <receiver android:name=".receivers.LinkBackground">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.CapturePosition">
            <intent-filter>
                <action android:name="net.sylvek.itracing2.action.CAPTURE_POSITION" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.CustomAction">
            <intent-filter>
                <action android:name="net.sylvek.itracing2.action.CUSTOM_ACTION" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.ToggleVibratePhone">
            <intent-filter>
                <action android:name="net.sylvek.itracing2.action.STOP_VIBRATE_PHONE" />
                <action android:name="net.sylvek.itracing2.action.START_VIBRATE_PHONE" />
                <action android:name="net.sylvek.itracing2.action.TOGGLE_VIBRATE_PHONE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.ToggleRingPhone">
            <intent-filter>
                <action android:name="net.sylvek.itracing2.action.TOGGLE_RING_PHONE" />
                <action android:name="net.sylvek.itracing2.action.STOP_RING_PHONE" />
                <action android:name="net.sylvek.itracing2.action.START_RING_PHONE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".GPS.GPSBackgroundReciver"></receiver>
        <meta-data android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCeHU8ParZgqWJzVpiorJQ2lu4HK5PF1e8"/>

        <meta-data android:name="com.google.android.gms.vision"
            android:value="@integer/google_play_services_version"/>



    </application>

</manifest>